{% extends "to_do_app/base.html" %}
{% load static %}

{% block page_title %}Delete Page{% endblock %}

  {% block css_file %}
    <link rel="stylesheet" href="{% static 'to_do_app/index.css' %}" />
  {% endblock %}

  {% block content %}
    <div class="custom-form">
      <h2>Are you sure you want to delete {{object.title|title}}? </h2>
      <main>
        <form method="post">
          {% csrf_token %}
          {% include "./includes/include.html" %}
          <a id="cancel-btn" href="{% url "index" %}">
            <button type="button" class="customBtn btn btn-primary">Cancel</button>
          </a>
        </form>
      </main>
    </div>

{% endblock %}
